---
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <main>
        <section>
            <h2>🚧 Now constructing... 🚧</h2>
        </section>
    </main>
</BaseLayout>

<style>
    section {
        width: 100%;
        text-align: center;
    }
</style>
